/* line 1, ../_sass/people.scss */
.sub-h1 {
  color: #333;
  font-weight: normal;
  font-size: 18px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

/* line 9, ../_sass/people.scss */
.people {
  width: 960px;
  float: left;
}
/* line 12, ../_sass/people.scss */
.people .person {
  width: 440px;
  float: left;
  margin-bottom: 20px;
  padding: 20px;
}
/* line 17, ../_sass/people.scss */
.people .person:hover {
  background-color: #eee;
}
/* line 19, ../_sass/people.scss */
.people .person:hover h2 {
  color: #399BE6;
}
/* line 23, ../_sass/people.scss */
.people .person img {
  float: left;
  width: 120px;
  border-radius: 100px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
}
/* line 30, ../_sass/people.scss */
.people .person > i {
  float: left;
  padding: 22px 30px;
  color: #999;
}
/* line 35, ../_sass/people.scss */
.people .person .info {
  float: left;
  width: 280px;
  margin-left: 20px;
}
/* line 39, ../_sass/people.scss */
.people .person .info h2 {
  font-weight: bold;
  font-size: 20px;
}
/* line 43, ../_sass/people.scss */
.people .person .info h3 {
  display: block;
  margin: 10px 0 25px 0;
  color: #666;
}
/* line 47, ../_sass/people.scss */
.people .person .info h3 a.email:hover {
  color: #333;
}
/* line 51, ../_sass/people.scss */
.people .person .info span {
  display: block;
  color: #999;
  line-height: 20px;
}
