/* line 1, ../_sass/publications.scss */
.publications li {
  float: left;
  margin-bottom: 20px;
}
/* line 4, ../_sass/publications.scss */
.publications li span {
  line-height: 22px;
  color: #666;
  width: 840px;
  float: left;
  margin-right: 20px;
}
/* line 11, ../_sass/publications.scss */
.publications li a {
  float: left;
  width: 95px;
  line-height: 44px;
  background-color: #eee;
  height: 44px;
  text-align: center;
  font-weight: 300;
  color: #399BE6;
}
/* line 20, ../_sass/publications.scss */
.publications li a i {
  margin-right: 10px;
}
/* line 23, ../_sass/publications.scss */
.publications li a:hover {
  color: #F35958;
}
