/* line 17, ../../.rvm/gems/ruby-2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../.rvm/gems/ruby-2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../.rvm/gems/ruby-2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../.rvm/gems/ruby-2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../.rvm/gems/ruby-2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../.rvm/gems/ruby-2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../.rvm/gems/ruby-2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../.rvm/gems/ruby-2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../.rvm/gems/ruby-2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 1, ../_sass/_layout.scss */
body {
  font: 15px Helvetica Neue, Helvetica, sans-serif;
}

/* line 5, ../_sass/_layout.scss */
.site-frame {
  width: 100%;
  height: auto;
}

/* line 10, ../_sass/_layout.scss */
.header-frame {
  background-color: #eeeeee;
  border-bottom: 1px solid #dddddd;
}

/* line 16, ../_sass/_layout.scss */
.header, .content, .footer {
  margin: 0 auto;
  width: 960px;
}

/* line 21, ../_sass/_layout.scss */
.header {
  padding: 30px 0;
}

/* line 25, ../_sass/_layout.scss */
.content {
  margin: 40px auto;
}

/* line 1, ../_sass/_global.scss */
a {
  color: inherit;
  text-decoration: none;
}

/* line 1, ../_sass/header.scss */
.logo {
  height: 50px;
}

/* line 5, ../_sass/header.scss */
nav {
  float: right;
  line-height: 50px;
  font-size: 17px;
}
/* line 9, ../_sass/header.scss */
nav a {
  padding: 10px;
  margin: 0 2px;
  color: #999;
}
/* line 13, ../_sass/header.scss */
nav a:hover {
  border-top: 3px solid #ccc;
  color: #666;
}

/* line 1, ../_sass/content.scss */
h1 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

/* line 1, ../_sass/footer.scss */
footer {
  border-top: 1px solid #dddddd;
  color: #999999;
  padding: 20px 0;
}
/* line 5, ../_sass/footer.scss */
footer a {
  border-bottom: 1px solid #999;
  padding-bottom: 3px;
}

/* line 1, ../_sass/people.scss */
.people {
  height: 940px;
}
/* line 3, ../_sass/people.scss */
.people .person {
  width: 50%;
  float: left;
  margin-bottom: 40px;
}
/* line 7, ../_sass/people.scss */
.people .person img {
  float: left;
  width: 120px;
}
/* line 11, ../_sass/people.scss */
.people .person .info {
  float: left;
  width: 320px;
  margin: 0 20px;
}
/* line 15, ../_sass/people.scss */
.people .person .info h2 {
  font-weight: bold;
  font-size: 20px;
}
/* line 19, ../_sass/people.scss */
.people .person .info a.email {
  display: block;
  margin: 10px 0 25px 0;
  color: #666;
}
/* line 24, ../_sass/people.scss */
.people .person .info span {
  display: block;
  color: #999;
  line-height: 20px;
}

/* line 1, ../_sass/projects.scss */
._project {
  width: 960px;
  margin: 0 0 40px 0;
}

/* line 6, ../_sass/projects.scss */
._project-img {
  display: inline-grid;
  width: 400px;
  height: 500px;
}

/* line 12, ../_sass/projects.scss */
._project-text {
  float: right;
  width: 560px;
  height: 500px;
}

/* line 18, ../_sass/projects.scss */
._project-header {
  width: 540px;
  background-color: #eeeeee;
  padding: 10px 0 10px 20px;
  margin-bottom: 10px;
}

/* line 25, ../_sass/projects.scss */
._project-header h1 {
  margin: 0 0 5px 0;
  color: #000000;
  font-weight: bold;
  font-size: 17px;
}

/* line 32, ../_sass/projects.scss */
._project-header h2 {
  margin: 0;
  color: #999999;
  font-weight: normal;
  font-size: 15px;
}

/* line 39, ../_sass/projects.scss */
._project-text p {
  width: 540px;
  padding: 10px 0 10px 20px;
  line-height: 24px;
  color: #999;
}

/* line 46, ../_sass/projects.scss */
._project-pub-link {
  border: none;
  display: inline-block;
  margin: 10px 0 0 20px;
  font-weight: bold;
  background-color: #333333;
  color: #ffffff !important;
  padding: 10px;
  border-left: 5px solid #399BE6;
}
/* line 55, ../_sass/projects.scss */
._project-pub-link:hover {
  color: #ffffff !important;
  background-color: #000000;
  border-left-color: #F35958;
}

/* line 1, ../_sass/contact.scss */
input, textarea {
  font: 15px Helvetica Neue, Helvetica, sans-serif;
  border: 1px solid #ddd;
  display: block;
  color: #999999;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  font-size: 15px;
  padding: 5px 10px;
  margin: 0 0 20px 0;
}
/* line 14, ../_sass/contact.scss */
input:hover, textarea:hover {
  border-color: #ccc;
}
/* line 17, ../_sass/contact.scss */
input:focus, textarea:focus {
  border-color: #bbb;
  color: #333;
  outline: none;
}

/* line 24, ../_sass/contact.scss */
input[type=text] {
  height: 32px;
  width: 250px;
}

/* line 29, ../_sass/contact.scss */
input[type=submit] {
  cursor: pointer;
  border: none;
  border-bottom: 2px solid #2a76b0;
  padding: 10px 20px;
  background-color: #399BE6;
  font-size: 15px;
  color: #ffffff;
  font-weight: bold;
  background-image: none;
}
