/* line 17, ../../.rvm/gems/ruby-2.1.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../.rvm/gems/ruby-2.1.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../.rvm/gems/ruby-2.1.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../.rvm/gems/ruby-2.1.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../.rvm/gems/ruby-2.1.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../.rvm/gems/ruby-2.1.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../.rvm/gems/ruby-2.1.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../.rvm/gems/ruby-2.1.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../.rvm/gems/ruby-2.1.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 1, ../_sass/_layout.scss */
body {
  font: 15px Helvetica Neue, Helvetica, sans-serif;
}

/* line 5, ../_sass/_layout.scss */
.site-frame {
  width: 100%;
  height: auto;
}

/* line 10, ../_sass/_layout.scss */
.header-frame {
  background-color: #eeeeee;
  border-bottom: 1px solid #dddddd;
  position: fixed;
  top: 0;
  z-index: 1000;
  height: 114px;
  -webkit-transition: height 0.5s;
  -moz-transition: height 0.5s;
  transition: height 0.5s;
}

/* line 22, ../_sass/_layout.scss */
.header, .content, .footer {
  margin: 0 auto;
  width: 960px;
}

/* line 27, ../_sass/_layout.scss */
.header {
  padding: 30px 0;
  -webkit-transition: padding 0.5s;
  -moz-transition: padding 0.5s;
  transition: padding 0.5s;
}

/* line 34, ../_sass/_layout.scss */
.content {
  margin: 154px auto 0 auto;
}

/* line 39, ../_sass/_layout.scss */
.header-frame.shrink {
  height: 60px;
}
/* line 41, ../_sass/_layout.scss */
.header-frame.shrink .header {
  padding: 5px 0;
}
/* line 43, ../_sass/_layout.scss */
.header-frame.shrink .header .cutoff {
  width: 50px;
}

/* line 1, ../_sass/_global.scss */
a {
  color: inherit;
  text-decoration: none;
}

/* line 8, ../_sass/_global.scss */
* {
  -webkit-transition: color 0.1s;
  -moz-transition: color 0.1s;
  transition: color 0.1s;
  -webkit-transition: border-color 0.1s;
  -moz-transition: border-color 0.1s;
  transition: border-color 0.1s;
  -webkit-transition: background-color 0.1s;
  -moz-transition: background-color 0.1s;
  transition: background-color 0.1s;
}

/* line 1, ../_sass/header.scss */
.logo {
  height: 50px;
  -webkit-transition: height 0.5s;
  -moz-transition: height 0.5s;
  transition: height 0.5s;
}

/* line 8, ../_sass/header.scss */
.cutoff {
  overflow: hidden;
  width: 203px;
  float: left;
  -webkit-transition: width 0.5s;
  -moz-transition: width 0.5s;
  transition: width 0.5s;
}

/* line 17, ../_sass/header.scss */
nav {
  float: right;
  line-height: 50px;
  font-size: 17px;
  font-weight: 300;
}
/* line 22, ../_sass/header.scss */
nav a {
  padding: 10px;
  margin: 0 2px;
  color: #999999;
}
/* line 26, ../_sass/header.scss */
nav a:hover {
  color: #666;
}

/* line 1, ../_sass/content.scss */
h1 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 30px;
  color: #333;
}
/* line 6, ../_sass/content.scss */
h1 i {
  margin-right: 10px;
}

/* line 11, ../_sass/content.scss */
.sub-h1 {
  color: #333;
  float: left;
  width: 100%;
  font-weight: 300;
  font-size: 15px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  text-transform: uppercase;
}
/* line 20, ../_sass/content.scss */
.sub-h1 span {
  display: block;
  margin-left: 23px;
  padding-top: 5px;
  text-transform: none;
  color: #999;
}

/* line 29, ../_sass/content.scss */
h3 {
  margin-left: 20px;
  font-weight: 300;
  color: #999;
}

/* line 1, ../_sass/footer.scss */
footer {
  border-top: 1px solid #dddddd;
  color: #999999;
  padding: 20px 0;
  float: left;
  width: 100%;
  font-size: 14px;
  text-align: right;
  line-height: 30px;
}
/* line 10, ../_sass/footer.scss */
footer span {
  float: left;
  line-height: 30px;
  margin-left: 20px;
}
/* line 15, ../_sass/footer.scss */
footer img {
  float: left;
  height: 30px;
  opacity: 0.5;
}
/* line 20, ../_sass/footer.scss */
footer a {
  border-bottom: 1px solid #999;
  padding-bottom: 3px;
}
/* line 23, ../_sass/footer.scss */
footer a:hover {
  color: #666;
  border-color: #666;
}

/* line 1, ../_sass/people.scss */
.people {
  width: 960px;
  float: left;
}
/* line 4, ../_sass/people.scss */
.people .person {
  width: 439px;
  float: left;
  margin-bottom: 20px;
  padding: 20px;
  border-left: 1px solid #fff;
}
/* line 10, ../_sass/people.scss */
.people .person:hover {
  background-color: #eee;
  border-color: #ddd;
}
/* line 13, ../_sass/people.scss */
.people .person:hover h2 > a {
  color: #399be6;
}
/* line 15, ../_sass/people.scss */
.people .person:hover h2 > a:hover {
  color: #f35958;
}
/* line 20, ../_sass/people.scss */
.people .person img {
  float: left;
  width: 120px;
  border-radius: 100px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
}
/* line 27, ../_sass/people.scss */
.people .person > i {
  float: left;
  padding: 22px 30px;
  color: #999;
}
/* line 32, ../_sass/people.scss */
.people .person .info {
  float: left;
  width: 280px;
  margin-left: 20px;
}
/* line 36, ../_sass/people.scss */
.people .person .info h2 {
  font-weight: 500;
  font-size: 20px;
}
/* line 40, ../_sass/people.scss */
.people .person .info h3 {
  display: block;
  margin: 10px 0 25px 0;
  color: #666;
}
/* line 44, ../_sass/people.scss */
.people .person .info h3 a.email:hover {
  color: #333;
}
/* line 48, ../_sass/people.scss */
.people .person .info span {
  display: block;
  color: #999;
  line-height: 20px;
}

/* line 1, ../_sass/projects.scss */
._project {
  width: 960px;
  margin: 0 0 100px 0;
}

/* line 6, ../_sass/projects.scss */
._project-img {
  display: inline-grid;
  width: 395px;
  height: 500px;
}

/* line 12, ../_sass/projects.scss */
._project-body {
  float: right;
  width: 560px;
}

/* line 17, ../_sass/projects.scss */
._project-body p {
  width: 540px;
  padding: 10px 0px 10px 20px;
  line-height: 24px;
  color: #666;
}

/* line 24, ../_sass/projects.scss */
._project-pub-link {
  cursor: pointer;
  float: left;
  margin: 40px 0 0 20px;
  width: 520px;
  background-color: #eee;
  color: #399be6;
  padding: 10px;
  text-transform: none;
}
/* line 33, ../_sass/projects.scss */
._project-pub-link:hover {
  color: #f35958;
  background-color: #eee;
}
/* line 37, ../_sass/projects.scss */
._project-pub-link .fa-file-text-o {
  margin-right: 10px;
}
/* line 40, ../_sass/projects.scss */
._project-pub-link .fa-angle-down {
  float: right;
}

/* line 45, ../_sass/projects.scss */
.dropdown-pub-links {
  height: 0;
  overflow: hidden;
  float: left;
  margin: 0 0 20px 20px;
  width: 540px;
  background-color: #eee;
}
/* line 52, ../_sass/projects.scss */
.dropdown-pub-links span {
  font-weight: 300;
  color: #999;
  float: left;
  width: 520px;
  padding: 10px;
}
/* line 59, ../_sass/projects.scss */
.dropdown-pub-links > a {
  float: left;
  width: 518px;
  color: #666;
  padding: 10px;
  line-height: 24px;
  border-left: 2px solid #eee;
}
/* line 66, ../_sass/projects.scss */
.dropdown-pub-links > a:hover {
  background-color: #ddd;
  border-left: 2px solid #399be6;
}

/* line 1, ../_sass/publications.scss */
.publications li {
  float: left;
  margin-bottom: 20px;
}
/* line 4, ../_sass/publications.scss */
.publications li span {
  line-height: 22px;
  color: #666;
  width: 840px;
  float: left;
  margin-right: 20px;
}
/* line 11, ../_sass/publications.scss */
.publications li a {
  float: left;
  width: 95px;
  line-height: 44px;
  background-color: #eee;
  height: 44px;
  text-align: center;
  font-weight: 300;
  color: #399be6;
}
/* line 20, ../_sass/publications.scss */
.publications li a i {
  margin-right: 10px;
}
/* line 23, ../_sass/publications.scss */
.publications li a:hover {
  color: #f35958;
}

/* line 1, ../_sass/contact.scss */
input, textarea, button {
  font: 15px Helvetica Neue, Helvetica, sans-serif;
  border: 1px solid #ccc;
  display: block;
  color: #999999;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  font-size: 15px;
  padding: 5px 10px;
  margin: 0 0 20px 0;
}
/* line 14, ../_sass/contact.scss */
input:hover, textarea:hover, button:hover {
  border-color: #bbb;
}
/* line 17, ../_sass/contact.scss */
input:focus, textarea:focus, button:focus {
  border-color: #999;
  color: #333;
  outline: none;
}

/* line 24, ../_sass/contact.scss */
input[type=text] {
  height: 32px;
  width: 250px;
}

/* line 29, ../_sass/contact.scss */
button {
  cursor: pointer;
  border: none;
  border-bottom: 3px solid #2a76b0;
  padding: 10px 20px;
  background-color: #399be6;
  font-size: 15px;
  color: #ffffff;
  font-weight: 500;
  background-image: none;
}
/* line 39, ../_sass/contact.scss */
button:hover {
  border-color: #2a76b0;
}
/* line 42, ../_sass/contact.scss */
button i {
  margin-right: 7px;
}
/* line 45, ../_sass/contact.scss */
button:focus {
  color: #fff;
}
