body {
    font: $font-stack;
}

button {
  font-size: 15px;
}

h1 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
    color: #333;
    i {
        margin-right: 10px;
    }
}

.sub-h1 {
    color: #333;
    display: inline-block;
    width: 100%;
    font-weight: 300;
    font-size: 15px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    text-transform: uppercase;
    span {
        display: block;
        margin-left: 23px;
        padding-top: 5px;
        text-transform: none;
        color: #999;
    }
}

h2 {
    font-weight: 500;
    font-size: 20px;
}

h3 {
    margin-left: 5%;
    font-weight: 300;
    color: #999;
}

nav {
  font-size: 17px;
}

footer {
  font-size: 14px;
}