input, textarea, button {
    font: $font-stack;
    border: 1px solid #ccc;
    display: block;
    color: #999999;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    font-size: 15px;
    padding: 5px 10px;
    margin: 0 0 20px 0;
    &:hover {
        border-color: #bbb;
    }
    &:focus {
        border-color: #999;
        color: #333;
        outline: none;
    }
}

input[type=text] {
    height: 32px;
    width: 250px;
}

button {
    cursor: pointer;
    border: none;
    border-bottom: 3px solid #2a76b0;
    padding: 10px 20px;
    background-color: #399BE6;
    font-size: 15px;
    color: #ffffff;
    font-weight: 500;
    background-image: none;
    &:hover {
        border-color: #2a76b0;
    }
    i {
        margin-right: 7px;
    }
}