.logo {
    height: 50px;
    -webkit-transition: height 0.5s;
    -moz-transition: height 0.5s;
    transition: height 0.5s;
}

.cutoff {
    overflow: hidden;
    width: 203px;
    float: left;
    -webkit-transition: width 0.5s;
    -moz-transition: width 0.5s;
    transition: width 0.5s; 
}

nav {
    float: right;
    line-height: 50px;
    font-size: 17px;
    font-weight: 300;
    a {
        padding: 10px;
        margin: 0 2px;
        color: $header-color;
        &:hover {
            color: #666;
        }
    }
}