.people {
    height: 940px;
    .person {
        width: 50%;
        float: left;
        margin-bottom: 40px;
        img {
            float: left;
            width: 120px;
        }
        .info {
            float: left;
            width: 320px;
            margin: 0 20px;
            h2 {
                font-weight: bold;
                font-size: 20px;
            }
            a.email {
                display: block;
                margin: 10px 0 25px 0;
                color: #666;
            }
            span {
                display: block;
                color: #999;
                line-height: 20px;
            }
        }
    }
}