.sub-h1 {
    color: #333;
    font-weight: normal;
    font-size: 18px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

.people {
    width: 960px;
    float: left;
    .person {
        width: 435px;
        border-right: 5px solid transparent;
        float: left;
        margin-bottom: 20px;
        padding: 20px;
        &:hover {
            background-color: #eee;
            border-right-color: #ddd;
            h2 {
                color: #399BE6;
            }
        }
        img {
            float: left;
            width: 120px;
            border-radius: 100px;
            -moz-border-radius: 100px;
            -webkit-border-radius: 100px;
        }
        > i { // Placeholder
            float: left;
            padding: 22px 30px;
            color: #999;
        }
        .info {
            float: left;
            width: 280px;
            margin-left: 20px;
            h2 {
                font-weight: bold;
                font-size: 20px;
            }
            h3 {
                display: block;
                margin: 10px 0 25px 0;
                color: #666;
                a.email:hover {
                    color: #333;
                }
            }
            span {
                display: block;
                color: #999;
                line-height: 20px;
            }
        }
    }
}