.people {
    width: $site-width;
    float: left;
    .person {
        width: 439px;
        float: left;
        margin-bottom: 20px;
        padding: 20px;
        border-left: 1px solid #fff;
        &:hover {
            background-color: #eee;
            border-color: #ddd;
            h2 > a {
                color: $blue;
                &:hover {
                    color: $red;
                }
            }
        }
        img {
            float: left;
            width: 120px;
            border-radius: 100px;
            -moz-border-radius: 100px;
            -webkit-border-radius: 100px;
        }
        > i { // Placeholder
            float: left;
            padding: 22px 30px;
            color: #999;
        }
        .info {
            float: left;
            width: 280px;
            margin-left: 20px;
            h3 {
                display: block;
                margin: 10px 0 25px 0;
                color: #666;
                a.email:hover {
                    color: #333;
                }
            }
            span {
                display: block;
                color: #999;
                line-height: 20px;
            }
        }
    }
}