._project {
    width: $site-width;
    margin: 0 0 100px 0;
}

._project-img {
    display: inline-grid;
    width: 395px;
    height: 500px;
}

._project-body {
    float: right;
    width: 560px;
}

._project-body p {
    width: 520px;
    padding: 10px 10px 10px 30px;
    line-height: 24px;
    color: #666;
}

._project-pub-link {
    cursor: pointer;
    float: left;
    margin: 40px 0 0 20px;
    width: 520px;
    background-color: #eee;
    color: #399BE6;
    padding: 10px;
    text-transform: none;
    &:hover {
        color: #F35958;
        background-color: #eee;
    }
    .fa-file-text-o {
        margin-right: 10px;
    }
    .fa-angle-down {
        float: right;
    }
}

.dropdown-pub-links {
    height: 0;
    padding: 0 10px;
    overflow: hidden;
    float: left;
    margin: 0 0 20px 20px;
    width: 520px;
    background-color: #eee;
    span {
        font-weight: 300;
        color: #999;
        float: left;
        width: 520px;
    }
    > div {
        float: left;
        width: 520px;
        color: #666;
        padding: 10px 0;
    }
}