._project {
    width: $site-width;
    margin: 0 0 40px 0;
}

._project-img {
    display: inline-grid;
    width: 395px;
    height: 500px;
}

._project-text {
    float: right;
    width: 560px;
    height: 500px;
}

._project-text p {
    width: 540px;
    padding: 10px 0 10px 20px;
    line-height: 24px;
    color: #666;
}

._project-pub-link {
    float: right;
    margin: -28px 0 0 20px;
    background-color: #eee;
    color: #399BE6;
    padding: 10px;
    text-transform: none;
    &:hover {
        color: #F35958;
        background-color: #eee;
    }
    i {
        margin-right: 10px;
    }
}