.publications li {
    float: left;
    margin-bottom: 20px;
    width: 100%;
    span {
        line-height: 22px;
        color: #666;
        width: 85%;
        float: left;
        margin-right: 5%;
    }
    a {
        float: right;
        width: 10%;
        line-height: 44px;
        background-color: #eee;
        height: 44px;
        text-align: center;
        font-weight: 300;
        color: $blue;
        i {
            margin-right: 10px;
        }
        &:hover {
            color: $red;
        }
        &:after {
          content: "PDF";
        }
    }
}