.publications li {
    float: left;
    margin-bottom: 20px;
    span {
        line-height: 22px;
        color: #666;
        width: 840px;
        float: left;
        margin-right: 20px;
    }
    a {
        float: left;
        width: 95px;
        line-height: 44px;
        background-color: #eee;
        height: 44px;
        text-align: center;
        font-weight: 300;
        color: $blue;
        i {
            margin-right: 10px;
        }
        &:hover {
            color: $red;
        }
    }
}