<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{ page.title }} | Sociolinguistics Lab</title>
        <meta name="description" content="">
        <link rel="stylesheet" href="/css/screen.css">
        <link rel="stylesheet" href="/css/jquery.bxslider.css">
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
        <style type="text/css">
            .{{ page.current }}, .{{ page.current }}:hover {
                color: #399BE6;
                font-weight: 500;
            }
        </style>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="../js/jquery.bxslider.js"></script>
        <script src="../js/scroll-header.js"></script>
    </head>
    <body>

        <!-- Add your site or application content here -->
        <div class="site-frame header-frame"><div class="header">{% include header.html %}</div></div>
        <div class="site-frame">
            <div class="content">
                <ul class="bxslider">
                    <li>
                        <img src="../images/slide_1.png" /><div class="_description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tellus neque, fringilla eu neque ullamcorper, vehicula tincidunt quam. Donec facilisis, tortor vitae posuere vulputate, arcu lectus semper lectus, at pulvinar elit urna sed est. Ut ac pretium ligula.</div>
                    </li>
                    <li>
                        <img src="../images/slide_2.png" /><div class="_description">Ut ac pretium ligula. Fusce placerat pharetra sollicitudin. Cras non neque convallis quam ultrices elementum vel id libero. Nulla pretium vehicula libero, et iaculis enim aliquet ut. Nulla facilisi.</div>
                    </li>
                    <li>
                        <img src="../images/slide_3.png" /><div class="_description">Etiam tellus neque, fringilla eu neque ullamcorper, vehicula tincidunt quam. Donec facilisis, tortor vitae posuere vulputate, arcu lectus semper lectus, at pulvinar elit urna sed est. Ut ac pretium ligula.</div>
                    </li>
                </ul>
                <script>
                    $(document).ready(function(){
                        $('.bxslider').bxSlider({
                            auto: true
                        });
                    });
                </script>
            {{ content }}
            </div>
        </div>
        <div class="site-frame"><div class="footer">{% include footer.html %}</div></div>
        
    </body>
</html>
