<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{ page.title }} | Sociolinguistics Lab</title>
        <meta name="description" content="">
        <link rel="stylesheet" href="/css/screen.css">
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
        <style type="text/css">
            .{{ page.current }}, .{{ page.current }}:hover {
                color: #399BE6;
                font-weight: bold;
            }
        </style>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="../js/scroll-header.js"></script>
    </head>
    <body>

        <!-- Add your site or application content here -->
        <div class="site-frame header-frame"><div class="header">{% include header.html %}</div></div>
        <div class="site-frame">
            <div class="content">
                {{ content }}
            </div>
        </div>
        <div class="site-frame"><div class="footer">{% include footer.html %}</div></div>
        
    </body>
</html>
