---
layout: page
current: nav-5
---
<h1><i class="fa fa-files-o"></i>Publications</h1>

<h1 class="sub-h1"><i class="fa fa-angle-down"></i>2013</h1>
<ul class="publications">
{% for 13_publication in site.data.13_publications %}
    <li>
        <span>{{ 13_publication.title }}</span>
        <a href="{{ 13_publication.file }}"><i class="fa fa-file-text-o"></i></a>
    </li>
{% endfor %}
</ul>

<h1 class="sub-h1"><i class="fa fa-angle-down"></i>2012</h1>
<ul class="publications">
{% for 12_publication in site.data.12_publications %}
    <li>
        <span>{{ 12_publication.title }}</span>
        <a href="{{ 12_publication.file }}"><i class="fa fa-file-text-o"></i></a>
    </li>
{% endfor %}
</ul>

<h1 class="sub-h1"><i class="fa fa-angle-down"></i>2011</h1>
<ul class="publications">
{% for 11_publication in site.data.11_publications %}
    <li>
        <span>{{ 11_publication.title }}</span>
        <a href="{{ 11_publication.file }}"><i class="fa fa-file-text-o"></i></a>
    </li>
{% endfor %}
</ul>

<h1 class="sub-h1"><i class="fa fa-angle-down"></i>2010</h1>
<ul class="publications">
{% for 10_publication in site.data.10_publications %}
    <li>
        <span>{{ 10_publication.title }}</span>
        <a href="{{ 10_publication.file }}"><i class="fa fa-file-text-o"></i></a>
    </li>
{% endfor %}
</ul>

<h1 class="sub-h1"><i class="fa fa-angle-down"></i>2009</h1>
<ul class="publications">
{% for 09_publication in site.data.09_publications %}
    <li>
        <span>{{ 09_publication.title }}</span>
        <a href="{{ 09_publication.file }}"><i class="fa fa-file-text-o"></i></a>
    </li>
{% endfor %}
</ul>

<h1 class="sub-h1"><i class="fa fa-angle-down"></i>2008</h1>
<ul class="publications">
{% for 08_publication in site.data.08_publications %}
    <li>
        <span>{{ 08_publication.title }}</span>
        <a href="{{ 08_publication.file }}"><i class="fa fa-file-text-o"></i></a>
    </li>
{% endfor %}
</ul>

<h1 class="sub-h1"><i class="fa fa-angle-down"></i>2007</h1>
<ul class="publications">
{% for 07_publication in site.data.07_publications %}
    <li>
        <span>{{ 07_publication.title }}</span>
        <a href="{{ 07_publication.file }}"><i class="fa fa-file-text-o"></i></a>
    </li>
{% endfor %}
</ul>

<h1 class="sub-h1"><i class="fa fa-angle-down"></i>2006</h1>
<ul class="publications">
{% for 06_publication in site.data.06_publications %}
    <li>
        <span>{{ 06_publication.title }}</span>
        <a href="{{ 06_publication.file }}"><i class="fa fa-file-text-o"></i></a>
    </li>
{% endfor %}
</ul>

<h1 class="sub-h1"><i class="fa fa-angle-down"></i>2005</h1>
<h1 class="sub-h1"><i class="fa fa-angle-down"></i>2004</h1>
<h1 class="sub-h1"><i class="fa fa-angle-down"></i>2003</h1>

<h1 class="sub-h1"><i class="fa fa-angle-down"></i>2002</h1>
<ul class="publications">
{% for 02_publication in site.data.02_publications %}
    <li>
        <span>{{ 02_publication.title }}</span>
        <a href="{{ 02_publication.file }}"><i class="fa fa-file-text-o"></i></a>
    </li>
{% endfor %}
</ul>

<h1 class="sub-h1"><i class="fa fa-angle-down"></i>2001</h1>
<ul class="publications">
{% for 01_publication in site.data.01_publications %}
    <li>
        <span>{{ 01_publication.title }}</span>
        <a href="{{ 01_publication.file }}"><i class="fa fa-file-text-o"></i></a>
    </li>
{% endfor %}
</ul>

<h1 class="sub-h1"><i class="fa fa-angle-down"></i>2000</h1>
<h1 class="sub-h1"><i class="fa fa-angle-down"></i>1999</h1>

<h1 class="sub-h1"><i class="fa fa-angle-down"></i>1998</h1>
<ul class="publications">
{% for 98_publication in site.data.98_publications %}
    <li>
        <span>{{ 98_publication.title }}</span>
        <a href="{{ 98_publication.file }}"><i class="fa fa-file-text-o"></i></a>
    </li>
{% endfor %}
</ul>